name: Semantic Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      # - run: |
      #     git tag v1.0.16
      #     git push "https://x-access-token:${{ steps.generate_token.outputs.token }}@github.com/twang817/test-release" --tags

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: |
          npm i -g \
            https://github.com/twang817/semantic-release.git#test \
            conventional-changelog-conventionalcommits \
            @semantic-release/changelog \
            @google/semantic-release-replace-plugin \
            @semantic-release/git

      - name: Semantic Release
        run: |
          semantic-release --debug
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          # GITHUB_TOKEN: ${{ secrets.PAT }}
